* {
  margin: 0;
  box-sizing: border-box;
  color: salmon;
}

html {
  background-color: whitesmoke;
}

body {
  background-color: white;
  max-width: 850px;
  margin: 50px auto;
  padding: 20px;
}

form {
  margin: 20px 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 2rem;
  justify-content: space-evenly;
  justify-self: center;
}

.login-status {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  justify-self: center;
}

.logout-btn {
  display: inline;
  flex-direction: row;
}

.invalid-credentials {
  color: red;
}

.products-container {
  display: flex;
  flex-direction: row;
  width: 15rem;
}

.product {
  width: 15rem;
  height: 20rem;
  border: solid 0.05rem grey;
  padding: 1.3rem;
}

footer {
  text-align: center;
}
