* {
	margin: 0;
	box-sizing: border-box;
	color: black;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
	background-color: whitesmoke;
}
body {
	background-color: white;
	max-width: 70%;
	margin: 50px auto;
	/* padding: 20px; */
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wrapper {
	width: 80%;
}
.topbanner {
	background-color: #badfe7;
	width: 100%;
	height: 30px;
	text-align: center;
}
.topbanner > p {
	padding: 5px;
	color: white;
}
.header {
	height: 5.5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Navigation styling*/
.navbar {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 3rem;
	border-top: 2px solid rgb(230, 229, 229);
	border-bottom: 2px solid rgb(230, 229, 229);
	padding: 0px 20px;
	justify-content: space-evenly;
	justify-self: center;
	align-items: center;
	font-weight: bold;
}
nav > a {
	text-decoration: none;
}

/* Icons styling */
.fa {
	transform: scale(1.3);
}

.login-status {
	display: flex;
	flex-direction: row;
	width: 30%;
	justify-content: space-evenly;
	justify-self: center;
	align-items: center;
}

/*Base form & input styling */
input[type="text"],
input[type="file"],
input[type="number"],
input[type="password"],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}
label {
	padding: 12px 12px 12px 0px;
	display: inline-block;
}
form {
	margin: 20px 0px;
}

/*Base submit btn styling*/
input[type="submit"] {
	background-color: #6fb3b8;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #badfe7;
}

/* Admin page styling */
.product-section {
	height: 100%;
	display: flex;
	border-radius: 15px;
	background-color: #f2f2f2;
	padding-bottom: 20px;
}
.user-section {
	height: 100%;
	display: flex;
	border-radius: 15px;
	margin-top: 20px;
	background-color: #f2f2f2;
}
.create {
	width: 60%;

	padding: 20px;
}
.list {
	width: 40%;
	padding: 20px;
}
.orders-section {
	width: 100%;
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 15px;
	margin-top: 20px;
	background-color: #f2f2f2;
}
.admin-container {
	display: flex;
	flex-direction: column;
	background-color: white;
}
.admin-container input[type="text"] {
	padding: 10px;
}
.admin-container input[type="file"] {
	background-color: white;
	margin-bottom: 10px;
}
.admin-container #role {
	margin-bottom: 10px;
}
.admin-container input[type="submit"] {
	float: right;
}
.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}
.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
@media screen and (max-width: 600px) {
	.col-25,
	.col-75,
	input[type="submit"] {
		width: 100%;
		margin-top: 0;
	}
}
/*Update product styling*/
.col-75 > input[type="submit"] {
	margin-top: 10px;
	font-size: 1rem;
}
.admin-product-container input,
textarea {
	width: 80%;
}

/* Login styling */
.invalid-credentials {
	color: red;
	text-align: center;
}
.login-container {
	display: flex;
	flex-direction: column;
	height: 30vh;
	width: 70%;
	margin-top: 20px;
	margin: 0 auto;
}
.login-container input[type="submit"] {
	width: 80%;
	margin-top: 10px;
	font-size: 1rem;
}
.col-25 > label {
	padding-left: 15px;
}
.login-container input[type="text"],
input[type="password"] {
	width: 80%;
}

/* Register styling */
.register-container {
	display: flex;
	flex-direction: column;
	height: 30vh;
	width: 70%;
	margin-top: 20px;
	margin: 0 auto;
}
.register-container input[type="submit"] {
	width: 80%;
	margin-top: 10px;
	font-size: 1rem;
}
.register-container input[type="text"],
input[type="password"] {
	width: 80%;
}

/* Product page styling */
.products-container {
	display: flex;
	flex-direction: row;
	width: 15rem;
}
.product {
	width: 15rem;
	height: 20rem;
	border: solid 0.05rem grey;
	padding: 1.3rem;
}

/*Footer styling*/
footer {
	text-align: center;
}
