* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #69331a;
}

body {
  background-color: white;
  padding: 3rem;
  margin: auto;
}

form {
  margin: 20px 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
}

.navbar,
.login-status {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 2rem;
  justify-content: space-evenly;
  justify-self: center;
}

.navbar a,
.login-status,
.login-status a {
  text-decoration: none;
  font-variant: small-caps;
  font-weight: 600;
}

.navbar a:hover,
.login-status a:hover {
  opacity: 0.6;
}

.login-status {
  width: 350px;
  justify-content: space-between;
  justify-self: flex-end;
}

.logout-btn {
  margin-top: auto;
}

.logout-button {
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: whitesmoke;
  font-weight: 600;
}

.invalid-credentials {
  color: red;
}

.header-img {
  width: 100%;
  height: 37rem;
  background-color: rgb(239, 239, 239);
  overflow: hidden;
  margin: 0.5rem 0rem 7rem 0rem;
  border-radius: 3px;
}

.header-img img {
  width: 100%;
}

.sub-header-text {
  margin-bottom: 1rem;
  text-align: center;
}

.new-arrivals-img {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.img-small {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 17rem;
  height: 17rem;
  background-color: rgb(238, 238, 238);
  margin-top: 1rem;
  overflow: hidden;
  border-radius: 3px;
}

.about-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 5rem;
}

.about-section-text {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 25rem;
  margin-top: 1rem;
  border-radius: 3px;
  padding: 6rem 1rem 1rem 1rem;
  justify-content: space-between;
  text-align: right;
}

.about-section-text button {
  width: 200px;
  border: 0px;
  background-color: #69331a;
  color: whitesmoke;
  padding: 1rem 2rem 1rem 2rem;
  margin-left: auto;
}

.about-section-picture {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  height: 25rem;
  margin-top: 1rem;
  overflow: hidden;
  border-radius: 3px;
}

.products-container {
  display: flex;
  flex-direction: row;
  width: 15rem;
}

.product {
  width: 15rem;
  height: 20rem;
  border: solid 0.05rem grey;
  padding: 1.3rem;
}

footer {
  text-align: center;
}
